.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.main_header-form {
  
  width: 280px;
 
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 30px;
   
  
}
.lodingHeading_Adjesmwnt{
color: red;
width: 480px;
height: 80px !important;
text-align: center;
padding-bottom: -50px;
}
.discription{
  border: #aaa groove 4px;
  width: 380px;
  margin: auto;
  padding: 20px 50px 40px;
  background-color: #abe4f4;
  font-family: 'Shadows Into Light', cursive;
  

}
.background{
  height: 100vh;
  /* background-image: url("/src/resources/login7.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}

 .discription_margin{
  margin-bottom: 60px;
  margin-top: 60px;

}
.signup{
  margin-top: 100px;
}
.errMsg{
  color: red;
  font-weight:400;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
